<div class="row">
    <% 
        var incorrect = incorrect || '';
        var correct = correct || '';
        let urlQuery = `?type=${wordPairType}`;
    %>
    <!-- INPUT -->
    <div class="offset-lg-2 offset-0 col-lg-8">
        <p class="title lead"><a title="Get json data" href="/form/json<%=urlQuery%>">Spelling form</a></p>
        <div class="my-2 d-flex justify-content-between align-items-center" title="Change word pair type">
            <div class="btn-group btn-group-sm" id="type-menu">
                <a name="custom" href="/form?type=custom" class="btn">My word pair</a>
                <a name="general" href="/form?type=general" class="btn">General</a>
            </div>
            <!-- MESSAGE -->
            <% var flash = flash || '' %>
            <%- flash %>
        </div>
        <p id="message" class="mt-3 text-dark lead d-none">Please fill inputs first!</p>
        <form class="form-inline " method="post" action="" id="add-spelling-form">
            <input type="text" class="form-control mb-2 mr-sm-2" id="incorrect-input" name="incorrect"
                value="<%=incorrect%>" placeholder="Incorrect word">
            <input type="text" class="form-control mb-2 mr-sm-2" id="correct-input" name="correct" value="<%=correct%>"
                placeholder="Correct word">
            <div>
                <button type="submit" class="btn-sm btn btn-primary mb-2">Add</button>
                <a href="/" class="btn-sm ml-1 btn btn-dark mb-2">Back</a>
            </div>
        </form>
    </div>

    <!-- SPELLING LIST -->
    <div class="offset-lg-2 offset-0 col-lg-8">
        <% 
            let CheckSpelling = require(`${__path.libs}/check-spelling`);
            let wordPairArray = CheckSpelling.getWordPairArray(wordPairType);
            let index = 0;
        %>
        <% if (wordPairArray.length > 0) { %>
        <table class="table table-light table-striped ">
            <thead class="">
                <tr>
                    <th scope="column">#</th>
                    <th>Incorrect</th>
                    <th>Correct</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let pair of wordPairArray){ %>
                <% 
                        index++;
                    %>
                <tr>
                    <th scope="row"><%=index%></th>
                    <td><%= pair.incorrect %></td>
                    <td><%= pair.correct %></td>
                    <td>
                        <a href="/form/delete/<%=pair.incorrect%><%=urlQuery%>">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>